@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}

/* styles/globals.css */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgba(220, 220, 220, 1); /* Appliquer la couleur de fond */
}
